html {
  background: linear-gradient(black, #1c1c1c);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  color: whitesmoke;
  text-align: center;
  font-family: monospace;
  font-size: 15;
}

a {
  color: gray;
}