html {
  color: white;
  background-color: #1d004b;
  text-align: center;
  align-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin-left: 60px;
  margin-right: 60px;
  

  table {
    margin: 0 auto;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #2e005f;
    padding: 2px;
    align-items: center;
    align-content: center;
    text-align:center;
  }

  a:link {
    color: lightblue;
    text-decoration: none;
  }
}