html {
  background: #1c1c1c;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  color: whitesmoke;
  text-align: center;
  font-family: monospace;
  font-size: medium;

  margin-left: 2em;
  margin-right: 2em;
}

a {
  color:rgb(180, 237, 255);
  font-style: normal;
  text-decoration: underline transparent;
  transition: text-decoration 0.3s ease;
}

a:hover {
  color: white;
  font-style: italic;
  text-decoration: 2px underline;
  transition: text-decoration 0.3s ease;
  transition: color 0.3s ease;
}

a:visited {
  font-style: italic;
}

.pfp {
  border-color:white;
  border-radius:50%;
  border-width:0.15em;
  border-style:solid;
}