<a href="https://youtube.com/@{{ site.youtube }}"><img src="https://img.shields.io/badge/YouTube-{{ site.youtube }}-red?logo=youtube"></a>
<a href="mailto:{{ site.email }}"><img src="https://img.shields.io/badge/Email-{{ site.email }}-lightblue?logo=gmail&logoColor=white"></a>
<a href="https://discord.com/user/1246426621641101363"><img src="https://img.shields.io/badge/Discord-{{ site.discord }}-5865F2?logo=discord&logoColor=white"></a>
<a href="https://github.com/{{ site.github }}"><img src="https://img.shields.io/badge/GitHub-{{ site.github }}-gray?logo=github&logoColor=white"></a>
<div>I am known as <code>{{ site.username }}</code> on most sites.</div>