$htmlBackgroundColor: rgb(240, 240, 240);
$htmlDarkBackgroundColor: rgb(10, 10, 10);
$sectionBackgroundColor: rgba(220, 220, 220, 0.8);
$sectionDarkBackgroundColor: rgba(20, 20, 20, 0.8);
$bodyColor: rgb(0, 0, 0);
$bodyDarkColor: rgb(245, 245, 245);
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

@import "elements.scss";

:root {
  --bg-color: #{$htmlBackgroundColor};
  --text-color: #{$bodyColor};
  --accent-color: #{$sectionBackgroundColor};
}

[data-theme="dark"] {
  --bg-color: #{$htmlDarkBackgroundColor};
  --text-color: #{$bodyDarkColor};
  --accent-color: #{$sectionDarkBackgroundColor};
}

html {
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
  text-align: left;
  color: var(--text-color);
  font-family: $bodyFont;
}

footer {
  position: fixed;
  color: var(--text-color);
  background-color: var(--accent-color);
  font-family: monospace;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  margin: 0px;
  display: block;
  width: 100%;
}

footnote {
  padding-left: 25px;
  color: rgb(136, 136, 136);
  box-shadow: 0.1px 0.1px 0.1px inset rgba(20, 20, 20, 0.2);
}

section {
  color: var(--text-color);
  background-color: var(--accent-color);
  padding: 4px;
  display: inline-block;
}

a {
  color: rgb(50, 50, 255);
  text-decoration: underline;
  text-decoration-thickness: 0px;
  animation: text-decoration-thickness 0.1s;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  animation: text-decoration-thickness 0.1s;
}

code {
  color: white;
  background-color: rgb(25, 25, 25);
  padding: 2px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

/* touchscreens / mobile devices */
@media (pointer: coarse) {
  body { margin-left: 0; }
  body { margin-right: 0; }
}

@media (pointer: fine) {
  body { margin-left: 120px; }
  body { margin-right: 120px; }
}
