@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
$backgroundColor: rgb(10, 10, 10);
$sectionBackgroundColor: rgba(20, 20, 20, 0.8);
$bodyColor: rgb(245, 245, 245);
$bodyFont: nunito;
$blockquoteColor: rgb(140, 140, 140);

@import "elements.scss";
@import "content.scss";

html {
  background-attachment: fixed;
  background-size: cover;
  background-color: $backgroundColor;
  text-align: left;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: 16px;
}

body {
  margin-bottom: 25px;
}

footer {
  position: fixed;
  color: $bodyColor;
  background-color: $sectionBackgroundColor;
  font-family: monospace;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  margin: 0px;
  display: block;
  width: 100%;
}

blockquote {
  padding-left: 20px;
  margin-left: 0;
  color: $blockquoteColor;
  border-left: 4px solid rgb(0, 255, 0);
}

section {
  color: $bodyColor;
  background-color: $sectionBackgroundColor;
  padding: 4px;
  display: inline-block;
  border-radius: 20px;
}

a {
  color: rgb(50, 50, 255);
  text-decoration: underline;
  text-decoration-thickness: 0px;
  animation: text-decoration-thickness 0.1s;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  animation: text-decoration-thickness 0.1s;
}

code {
  color: white;
  background-color: rgb(25, 25, 25);
  padding: 2px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
}

/* touchscreens / mobile devices */
@media (pointer: coarse) {
  body { margin-left: 0; }
  body { margin-right: 0; }
}

@media (pointer: fine) {
  body { margin-left: 120px; }
  body { margin-right: 120px; }
}
