#buttons {
  position: fixed;
  right: 4px;
  top: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px;
}

#random-message {
  font-family: monospace;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
}

#about-me {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
}

#home-lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#home-lists .top-section {
  grid-column: 1 / -1;
}

.make-white {
  filter: invert(100%);
}

.static-bg {
  position: fixed;
  top: -50%;
  right: -50%;
  left: -50%;
  bottom: -50%;
  width: 200%;
  height: 200%;
  background-image: url("/assets/images/noise.png");
  pointer-events: none;
  animation: shift-static 15s linear infinite;
  z-index: -1;
}

@keyframes shift-static {
  0% {
    background-position: 0%
  }
  100% {
    background-position: 40px 40px;
  }
}
