#buttons {
  position: absolute;
  right: 0;
  top: 0;
}

#random-message {
  background-color: rgb(30, 30, 30);
  font-family: monospace;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
}
