<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="crt">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Home - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    {% include buttons.html %}
    <h1 align="center">{{ page.title }}</h1>
    <div align="center">
      <div>
      </div>
      <br>
      <label for="random-message">Message of the Day</label> <br>
      <div id="random-message"></div>
    </div>
    <hr>
    <div id="home-lists">
      <section class="top-section" id="about-me">
        {{ content }}
      </section>
      <section id="posts-list">
        <h2>Posts</h2>
        <ul>
          {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a> <br>
            <small>{{ post.date | date: "%B %-d, %Y" }}</small> <br>
            <small>{{ post.category }}</small><br>
          </li>
          {% endfor %}
        </ul>
      </section>
      <section id="projects-list">
        <h2>Projects</h2>
        <ul>
          {% for project in site.projects %}
          <li>
            <a href="{{ project.url }}">{{ project.title }}</a> <br>
            <img src="https://img.shields.io/badge/GitHub-{{ project.github }}-gray">
          </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  <script>
    {% include scripts/copyCode.js %}
  </script>
  <script>
    {% include scripts/messageOfTheDay.js %}
  </script>
  {% include footer.html %}
  </body>
  <div class="static-bg"></div>
</html>
